# Arquivos sensíveis
.env
furia-key.pem

# FAISS e dados
index.faiss
meta.json

# Build e setup temporários
build_index.py
setup_chrome_selenium.sh
teste.py

# Drivers
chromedriver-win64/

# Cache do Python
__pycache__/
*.pyc

# Docker/Render
.dockerignore
Dockerfile
Procfile

# GitHub workflow
.github/
